body {
    background-color: lightgrey;
  }
  
  
  div.jtlogo {
    text-align: center;
    font-family: Papyrus, fantasy;
    text-decoration: none;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
    color: transparent;
  }
  
  div.hahadumbass {
    text-align: center;
    font-family: Papyrus, fantasy;
  }

  div.basebeats {
    text-align: center;
    font-family: Papyrus, fantasy; 
    color: black;
  }

  div.devvideo {
    text-align: center;
    font-family: Verdana, sans-serif;
    color: black;
  }

div.vidlooker {
    text-align: center;
    font-family: Papyrus, fantasy; 
    color: black;
    text-decoration: none;
}


 div.bruh {
    text-align: center;
 }

 
 div.sys42 {
  text-align: center;
  font-family: Verdana, sans-serif;
  color: black;
 }

 div.verification {
  text-align: center;
  font-family: Verdana, sans-serif;
  color: rgb(255, 136, 0);
 }

