p,
li,
button {
	font-size: 12px;
}
li {
	&::marker {
		content: none;
	}
	&::before {
		content: '•';
		margin-right: 0.75em;
	}
}
h1,
h2,
h3,
h4,
h5 {
	font-weight: 400;
}
.title {
	font-size: 16px;
}

a {
	color: #666;
	text-decoration: 0;

	&:hover {
		text-decoration: underline;
	}
	&:focus {
		outline: 1px dotted #666;
	}
}

button:focus {
	outline: 1 px solid #999;
}
.btn {
	color: #555;
	height: 2.95em;
	padding: 0 0.91em;
	border: solid 1px;
	border-color: #ccc #ccc #aaa;
	text-shadow: 0 1px 0 white;
	background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
	box-shadow: inset 0 0 1px white;
	border-radius: 2px;
	outline: 0;
	font-weight: bold;
	white-space: nowrap;
	word-wrap: normal;
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	cursor: pointer;
	overflow: visible;

	.i {
		opacity: 0.6;
	}
	&:hover,
	&:focus {
		.i {
			opacity: 1;
		}
	}

	img {
		width: 30px;
	}
	&.btn-img {
		padding: 0 6px 0 2px;

		img {
			margin-right: 8px;
		}
	}

	&:hover {
		border-color: #aaa #aaa #999;
		box-shadow: 0 1px 2px rgb(0 0 0 / 25%), inset 0 0 3px white;
		background-image: linear-gradient(to bottom, #f0f0f0 0, #e6e6e6 100%);
	}
	&:focus {
		border-color: #4496e7;
		box-shadow: 0 0 5px #4496e7, inset 0 0 10px white;
	}
	&:active {
		border-color: #888 #aaa #ccc;
		box-shadow: inset 0 1px 5px rgb(0 0 0 / 25%), 0 1px 0 white;
		background-image: linear-gradient(to bottom, #c8c8c8 0, #e6e6e6 100%);
	}
}
.btn-text {
	text-shadow: 0 1px 0 white;
	border-color: transparent;
	background: none;
	box-shadow: none;
	font-weight: normal;
}
.btn-i {
	height: 32px;
	$p: 0.75em;
	padding-left: $p;
	padding-right: $p;
}
.btn-blue {
	color: white;
	background-color: #6891e7;
	border-color: #0053a6 #0053a6 #000;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 1px 0 rgba(256, 256, 256, 0.35);
	background-image: linear-gradient(to bottom, #4495e7 0, #0053a6 100%);

	&:hover {
		border-color: #002d59 #002d59 #000;
		box-shadow: inset 0 1px 0 rgba(256, 256, 256, 0.35), 0 1px 3px rgba(0, 0, 0, 0.5);
		background-image: linear-gradient(to bottom, #096bd2 0, #0053a6 100%);
	}
	&:active {
		border-color: #000 #002d59 #002d59;
		box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.35), 0 1px 0 #fff;
		background-image: linear-gradient(to bottom, #014488 0, #175ea6 100%);
	}
}
.btn-dark {
	color: white;
	background-color: #454545;
	border-color: #151515 #151515 #000;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 1px 0 rgba(256, 256, 256, 0.1);
	background-image: linear-gradient(to bottom, #383838 0, #151515 100%);

	&:hover {
		border-color: #111 #111 #000;
		background-color: #333;
		box-shadow: inset 0 1px 0 rgba(256, 256, 256, 0.1), 0 1px 3px rgba(0, 0, 0, 0.5);
	}
	&:focus {
		box-shadow: inset 0 1px 0 rgba(256, 256, 256, 0.1);
	}
	&:active {
		border-color: #666;
		box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.75);
	}
}

.textbox {
	width: 250px;
	padding: 7px 10px;
	margin-top: 0;
	margin-bottom: 0;
	background: #f6f6f6;
	color: #666;
	font-size: 13px;
	border: 1px solid #b9b9b9;
	border-top-color: #a4a4a4;
	box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.17);
	border-radius: 3px;

	&:focus {
		border-color: #4496e7;
		color: #444;
		background: #fff;
		outline: 0;
	}
}

.ti-container {
	display: flex;

	.tibox {
		padding: 2px 6px;
		margin: 0;
		border: 0;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		outline: none;
		background: white;
		font-size: 16px;
		box-sizing: border-box;
		border: 1px solid #ccc;
		box-shadow: inset 0 1px 2px #eee;
		transition: border-color 0.2s ease;

		&:hover {
			border: 1px solid #b9b9b9;
			border-top-color: #a0a0a0;
			box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
		}

		&:focus {
			border: 1px solid #1c62b9;
		}
	}

	.btn-ti {
		border-left: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}