@use './core.scss';
@use './icons.scss';

body {
	background-color: #eaeaea;
	background-image: url('/background.png');
	margin: 0 auto;
	padding: 10px;
	padding-bottom: 0;
	max-width: 970px;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Arial, sans-serif;
	background: transparent;
}

header {
	display: flex;
	margin-bottom: 10px;

	.logo {
		margin-right: 10px;
	}

	.search-container {
		flex-grow: 7;
		height: 32px;
		$c: 3px;
		padding: $c 5px $c 5px;

		.tibox {
			width: 100%;
		}
	}

	.separator {
		color: #ccc;
	}

	nav {
		padding: 0 10px;
		line-height: 38px;

		white-space: nowrap;

		a {
			padding: 6px 10px;
			font-size: 13px;
			color: #333;
		}
	}
	.right {
		margin-top: 2px;
		display: flex;
		justify-content: flex-end;
		flex-grow: 1;
	}
}

main img {
	max-width: 100%;
}

footer {
	margin-top: 15px;

	.content {
		margin-top: 10px;
		padding-bottom: 10px;
		color: #666;
		$lh: 210px;

		.logo-container {
			text-align: center;
			width: $lh;
			position: relative;
			float: left;
			margin-top: 30px;

			p {
				font-size: 11px;
			}
			.logo {
				opacity: 0.6;
				&:hover {
					opacity: 1;
				}
			}
		}
		.divider {
			position: absolute;
			margin-left: 15px;
			background: no-repeat url('/footer-divider.png');
			width: 13px;
			height: 118px;
		}
		.links {
			margin-left: $lh + 45px;
			padding-top: 1.5em;

			p {
				font-weight: bold;
			}
			.first,
			.second,
			.selects {
				a:not(:first-child),
				p:not(:first-child) {
					margin-left: 20px;
				}
			}
			.second,
			.selects {
				margin-top: 12px;
				font-size: 11px;
			}
			.selects {
				display: flex;

				p {
					button {
						margin-top: 5px;
					}
					button:not(:first-child) {
						margin-left: 20px;
					}
				}
			}
		}
	}
}
