@use './core.scss';
@use './icons.scss';

body {
	background-color: #eaeaea;
	background-image: url('/background.png');
	margin: 0 auto;
	padding: 10px;
	padding-bottom: 0;
	max-width: 970px;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Arial, sans-serif;
	background: transparent;
}

header {
	display: flex;
	margin-bottom: 10px;

	.logo {
		margin-right: 10px;
	}

	.search-container {
		flex-grow: 7;
		height: 32px;
		$c: 3px;
		padding: $c 5px $c 5px;

		.tibox {
			width: 100%;
		}
	}

	.separator {
		color: #ccc;
	}

	nav {
		padding: 0 10px;
		line-height: 38px;

		white-space: nowrap;

		a {
			padding: 6px 10px;
			font-size: 13px;
			color: #333;
		}
	}
	.right {
		margin-top: 2px;
		display: flex;
		justify-content: flex-end;
		flex-grow: 1;
	}
}

main img {
	max-width: 100%;
}

footer .content {
	margin-top: 10px;
}
