<html>
    <!-- stole most of the code from stackoverflow lmfao-->
    <head>
        <title>jankentube BETA - the shitty tube clone.</title>
        <link rel="stylesheet" href="../core.css">
    </head>
    <body>
        <div class="www-header-mast">
            <a href="/"><img src="./static/img/jankentube.png" class="www-logo" alt="jankentube"></a>
            <span class="www-motto">
            the janken code ™
            </span>
            <div class="www-user-info">
                            <strong><a style="border-left: 0px;" class="first" href="/sign_up">Sign Up</a></strong> 
                    <a class="" href="/sign_in">Sign In</a>
                    </div>
            <br>
        <div class="www-header-list">
            <a class="www-header-item" href="/">Home</a>
            <a class="www-header-item" href="/">Channels</a>
            <a class="www-header-item" href="/">Discord</a>
            <a class="www-header-item" href="/">Videos</a>
            <form class="search-form" autocomplete="off" action="/search_query">
                <input name="q" class="search-box">
                <input type="submit" class="search-button" value="Search">
            </form>
            <a href="/upload_video">
                <button style="cursor:pointer;" class="upload_button">
                    Upload
                </button>
            </a>
        </div>
        <div class="www-home-left">
            <br>
            <h2>Template</h2><br>
      </div>
      <br>
      <br>
      <br>
      <div class="www-footer" style="line-height: 18px;font-size: 10px;padding: 10px;background-color: #EEEEEE;border-bottom: 1px solid #CCC;">
        <b><span style="color: grey;">your account</span> <a style="margin-left:10px;" href="/video_manager">videos</a> <a style="margin-left:10px;" href="/favorites">favs</a> <a style="margin-left:10px;" href="/inbox/">email inbox</a> <a style="margin-left:10px;" href="/partner">partner of jankenpopp</a></b><br>
        <span style="color: grey;">help &amp; info</span> <a style="margin-left:10px;" href="/tos">terms of service</a> <a style="margin-left:10px;" href="/api_qa">jankentube api</a> <a style="margin-left:10px;" href="https://discord.gg/a96nT9VGSD">discord</a><br>
    </div>
    </body>
</html>