body {
 font:12px arial,sans-serif;
 font-size:12px;
 width:970px;
 margin:8px auto
}

/* stole it from subrocks baby */
.www-header-list {
    height:35px;
    background-position:0 -487px;
    border:1px solid #999;
    clear:both;
    cursor:default;
    margin-top:5px;
    background-color:#dedede;
    background:-moz-linear-gradient(90deg,rgba(222,222,222,1) 0%,rgba(241,241,241,1) 100%);
    background:-o-linear-gradient(90deg,rgba(222,222,222,1) 0%,rgba(241,241,241,1) 100%);
    background:-webkit-linear-gradient(90deg,rgba(222,222,222,1) 0%,rgba(241,241,241,1) 100%);
    background:linear-gradient(0deg,rgba(222,222,222,1) 0%,rgba(241,241,241,1) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#dedede",endColorstr="#f1f1f1",GradientType=1)
   }

   .search-box {
    border:1px solid #999;
    padding:2px 1px 3px;
    width:295px;
    height:18px;
    font-size:13px!important;
    vertical-align:middle;
    display:inline-block;
    margin:5px 6px 6px
   }

   .www-header-item:hover {
    background:-moz-linear-gradient(90deg,rgba(100,100,100,1) -82%,rgba(255,255,255,1) 25%);
    background:-o-linear-gradient(90deg,rgba(100,100,100,1) -82%,rgba(255,255,255,1) 25%);
    background:-webkit-linear-gradient(90deg,rgba(100,100,100,1) -82%,rgba(255,255,255,1) 25%);
    background:linear-gradient(0deg,rgba(100,100,100,1) -82%,rgba(255,255,255,1) 25%)
   }
   .www-header-item:active,
   .www-header-item:focus {
    background:-moz-linear-gradient(90deg,rgba(246,246,246,1) 58%,rgba(50,50,50,1) 155%);
    background:-o-linear-gradient(90deg,rgba(246,246,246,1) 58%,rgba(50,50,50,1) 155%);
    background:-webkit-linear-gradient(90deg,rgba(246,246,246,1) 58%,rgba(50,50,50,1) 155%);
    background:linear-gradient(0deg,rgba(246,246,246,1) 58%,rgba(50,50,50,1) 155%);
    border-left:0;
    padding-left:9px
   }

   .www-header-mast {
    padding-bottom:10px
   }
   .www-header-mast img {
    width:84px
   }
   .www-motto {
    color:#828282;
    padding-left:3px;
    vertical-align:top
   }
   .www-motto a {
    vertical-align:top
   }
   .www-header-list .www-header-item {
    background-position:0 -487px;
    height:16px;
    text-align:center;
    float:left;
    font-weight:700;
    font-size:14px;
    white-space:nowrap;
    display:block;
    padding:9px 8px 10px;
    padding-left:8px;
    border-left:1px solid #fff;
    border-right:1px solid #999;
    text-decoration:none
   }
   .www-header-list {
    height:35px;
    background-position:0 -487px;
    border:1px solid #999;
    clear:both;
    cursor:default;
    margin-top:5px;
    background-color:#dedede;
    background:-moz-linear-gradient(90deg,rgba(222,222,222,1) 0%,rgba(241,241,241,1) 100%);
    background:-o-linear-gradient(90deg,rgba(222,222,222,1) 0%,rgba(241,241,241,1) 100%);
    background:-webkit-linear-gradient(90deg,rgba(222,222,222,1) 0%,rgba(241,241,241,1) 100%);
    background:linear-gradient(0deg,rgba(222,222,222,1) 0%,rgba(241,241,241,1) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#dedede",endColorstr="#f1f1f1",GradientType=1)
   }
   .www-header-item:hover {
    background:-moz-linear-gradient(90deg,rgba(100,100,100,1) -82%,rgba(255,255,255,1) 25%);
    background:-o-linear-gradient(90deg,rgba(100,100,100,1) -82%,rgba(255,255,255,1) 25%);
    background:-webkit-linear-gradient(90deg,rgba(100,100,100,1) -82%,rgba(255,255,255,1) 25%);
    background:linear-gradient(0deg,rgba(100,100,100,1) -82%,rgba(255,255,255,1) 25%)
   }

   .upload_button {
    color:#994800;
    background:#fed81c url(/static/img/spritesheet_main.png) repeat-x center -2202px;
    border:1px solid #ecc101;
    width:62.5px;
    vertical-align:middle;
    white-space:nowrap;
    text-decoration:none;
    border-radius:3px;
    float:right;
    padding:4.5px 0 4px;
    margin:5px 7px 7px;
    font:700 100% Arial
   }
   .search-box {
    border:1px solid #999;
    padding:2px 1px 3px;
    width:295px;
    height:18px;
    font-size:13px!important;
    vertical-align:middle;
    display:inline-block;
    margin:5px 6px 6px
   }
   .search-box:active,
   .search-box:focus {
    border:2.5px solid#bbdafd;
    padding-left:0;
    padding-right:0;
    height:16px;
    padding-top:2px
   }
   .search-form {
    display:inline-block;
    margin-left:95px
   }
   .search-button,
   #search-button,
   button.yt-uix-button.yt-uix-button-default,
   input[name=send] {
    color:#039;
    background:#c6d7f3 url(/static/img/spritesheet_main.png) repeat-x center -1602px;
    border:1px solid #a0b1dc;
    vertical-align:bottom;
    white-space:nowrap;
    text-decoration:none;
    border-radius:3px;
    cursor:pointer!important;
    padding:1px .8em 0;
    margin:6px 7px;
    height:2.1em;
    font:700 100% Arial!important
   }
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
    margin:0;
    padding:0
   }

   .www-home-left {
    float:left;
    width:646.38px
   }

   .benifits-outer-front {
    border:1px solid #999;
    padding:5px;
    border:1px solid #999;
    padding:5px;
    height:40px
   }
   .benifits-inner-front {
    border:1px solid #ccc;
    padding:4px;
    background-color:#eee;
    text-align:center;
    border:1px solid #ccc;
    padding:4px;
    background-color:#eee;
    text-align:center;
    float:left;
    width:287px;
    margin-top:-16.5px
   }

